/*Checkbox list*/
.checkbox-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
    width: 100%;
}

/*Checkboxes*/
.checkbox-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    width: 100%;
}

/*Input of checkboxes*/
.checkbox-item input {
    margin-right: 8px;
}